---
AWSTemplateFormatVersion: '2010-09-09'

Description: A template to deploy a lambda, and execution role.

Parameters:
  NewAccountCreateNotificationEmailParameter:
    Description: Email address for notice of new account creation
    Type: String

Resources:
  NewAccountCreationSnsTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
      - Endpoint: !Ref NewAccountCreateNotificationEmailParameter
        Protocol: email
    